/app_cake_core_cake_dev_en-us
/app_cake_core_cake_en-us
/app_cake_core_default_en-us
/app_cake_core_file_map
/app_cake_core_method_cache
/myapp_cake_core_cake_console_
/myapp_cake_core_cake_dev_
/myapp_cake_core_cake_dev_en-us
/myapp_cake_core_cake_en-us
/myapp_cake_core_default_en-us
/myapp_cake_core_file_map
/myapp_cake_core_method_cache
/myapp_cake_core_object_map
/app_cake_core_cake_console_
/app_cake_core_object_map
